section.page
  .container
    .row
      .col-xs-12
        h2#title It should be easy to create front-end web applications
    .row
      .col-xs-12
        button.btn.btn-success#movie Get me a movie
        button.btn.btn-success#series Get me a serie
    .row
      .col-xs-12
        #content