footer#footer
  .container
    .row
      .col-lg-6.col-md-6.col-xs-12
        blockquote 
          p “Create with the heart; build with the mind.” 
          footer 
            cite(title='Criss Jami') Criss Jami
      .col-lg-6.col-md-6.col-xs-12
        h4.text-right 
          small Av Kristian Saksvik Munkvold